<div class="text-center">
    <h1 class="text-info">Inquiry Confirmation</h1>
    <p>We have Recieved your Inquiry and someone from our team will Contact your Shortly!</p>
    <img src="~/images/patio.jpg" width="80%" />
</div>

